
:root {
  /* available colours*/
  --light-grey: #e6e8eb;
  --dark-grey: #cac5c5;
  --global-white: #FFFFFF;
  --global-blue: #37bbf0;
  --global-green: #00FF00;
  --global-light-blue: #d3eaff;

  /* Logical colours*/
  --global-background: var(--global-white);
  --global-highlight: var(--light-grey);
  --global-hover: var(--dark-grey);
  --global-table-header: var(--global-light-blue);

  /* derived colours*/
  --nav-bar-background: var(--global-highlight);
  --menu-active: var(--global-background);
  --menu-inactive: var(--nav-bar-background);
  --list-yearly-highlight: var(--global-highlight);
}