@import './base.css';

* {
  padding: 10;
  margin: 10;
  box-sizing: border-box;
}

/* set font for specified elements */
html,
label {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

/* set font for specified elements */
button,
input,
select {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 17px;
}

/* -------------------------------------- */
/* Main menu */

.navbutton {
  float: left;
  margin: 3px;
  border-radius: 3px;
  border: 1px Solid Black;
  font-size: 18px;
}

/* Show selected menu item in different colour */
.navbutton.active {
  background-color: var(--menu-active);
}

/* The navigation bar */
.section-navitems {  
  background-color: var(--nav-bar-background);
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Make room after navbar */
.work-items {
  margin-top: 80px;
}

/* Main menu */
/* -------------------------------------- */

/* Add distance between fieldsets in edit component*/
fieldset {
  margin-bottom: 15px;
}

.message-text {
  background-color: var(--global-table-header);
}

/* -------------------------------------- */
/* Event list*/

/* Show yearly events in different color */
td.list-anniversary {
  background-color: var(--list-yearly-highlight);
}

/* Show yearly events in different color */
td.list-monthly {
  background-color: var(--list-monthly-highlight);
}

/* Show weekly events in different color */
td.list-weekly {
  background-color: var(--list-weekly-highlight);
}


/* Draw external borders and column borders. No border between rows*/
.about-table,
.table-list-events {
  border-top: 1px Solid Black;
  border-left: 1px Solid Black;
  border-bottom: 1px Solid Black;
  border-spacing: 0;
}

.table-about-elem,
.table-list-events-elem {
  border-right: 1px Solid Black;
}

.table-about-header,
.table-list-events-header {
  border-right: 1px Solid Black;
  border-bottom: 1px Solid Black;
  background-color: var(--global-table-header);
}

/* do a bit of spacing around text in cells */
.about-text,
.list-text {
  padding: 5px;
}

/* Center buttons in last column */
.table-list-buttons {
  text-align: center;
}

/* Event list*/
/* -------------------------------------- */

.conf-header {
  background-color: var(--global-table-header);
  padding-left: 5px;
  padding-right: 5px;
}

.recipient-list {
  column-count: 2;
  column-rule-width: thin;
  column-rule-style: double;
  width: fit-content;
}