@import './base.css';

* {
  padding: 10;
  margin: 10;
  box-sizing: border-box;
}

/* set font for specified elements */
html,
label {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

/* set font for specified elements */
button,
input,
select {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 17px;
}

/* -------------------------------------- */
/* Main menu */

.navbutton {
  float: left;
  margin: 3px;
  border-radius: 3px;
  border: 1px Solid Black;
  font-size: 18px;
}

/* Show selected menu item in different colour */
.navbutton.active {
  background-color: var(--menu-active);
}

/* The navigation bar */
.section-navitems {  
  background-color: var(--nav-bar-background);
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Make room after navbar */
.work-items {
  margin-top: 80px;
}

/* Main menu */
/* -------------------------------------- */

/* Add distance between fieldsets in edit component*/
fieldset {
  margin-bottom: 15px;
}

.message-text {
  background-color: var(--global-table-header);
}

/* -------------------------------------- */
/* Event list*/

/* Show yearly events in different color */
td.list-anniversary {
  background-color: var(--list-yearly-highlight);
}

/* Show yearly events in different color */
td.list-monthly {
  background-color: var(--list-monthly-highlight);
}

/* Show weekly events in different color */
td.list-weekly {
  background-color: var(--list-weekly-highlight);
}

/* Draw external borders and column borders. No border between rows*/
.about-table,
.table-list-events {
  border-top: 1px Solid Black;
  border-left: 1px Solid Black;
  border-bottom: 1px Solid Black;
  border-spacing: 0;
}

/* While we draw no lines for the rows, we still want to draw lines for the columns */
.table-about-elem,
.table-list-events-elem {
  border-right: 1px Solid Black;
}

/* Draw a box around the header of the tables holding event lists and the about info */
.table-about-header,
.table-list-events-header {
  border-right: 1px Solid Black;
  border-bottom: 1px Solid Black;
  background-color: var(--global-table-header);
}

/* do a bit of spacing around text in cells */
.about-text,
.list-text {
  padding: 5px;
}

/* Center buttons in last column */
.table-list-buttons {
  text-align: center;
}

/* Event list*/
/* -------------------------------------- */

/* Style "title bar" in popup dialogs */
.conf-header {
  background-color: var(--global-table-header);
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

/* Show selectable recipients in edit entry panel using three columns separated by thin black lines */
.recipient-list {
  column-count: 3;
  column-rule-width: thin;
  column-rule-style: double;
  width: fit-content;
  margin: 0;
  padding: 0;
}

/* ---------------- Edit entry ----------------*/

.warningspec {
  border-collapse: collapse;
}

/* Draw black lines between the table columns of the warning specification */
.warningspec td {
  border-right: 1px solid #000;
  padding-right: 5px;
  padding-left: 5px;
}

/* ... but do not draw the rightmost line */
.warningspec td:last-child {
  border-right: none;
}

/* Create a bit of a divide between the table rows which define the event and the shortcuts for easier selection */
.rowabitwider td {
  padding-bottom: 15px;
}

/* ---------------- Day Picker ----------------*/

/* Center elements with respect to the surrounding popup */
.center-dayselect {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Center contents and column headers in table which holds the buttons representing the selectable days */
.dayselect-cell {
  text-align: center;
}

/* Make buttons which represent the days fill the whole table cell*/
.dateselectbutton {
  width: 100%;
  height: 100%;
}

/* Make selected day appear differently without breaking default styling */
.dateselectbutton-current {
  width: 100%;
  height: 100%;
  filter: brightness(0.8);
}