@import './base.css';

td.list-anniversary {
    background-color: var(--light-grey);
}

/* The navigation bar */
.section-navitems {  
  background-color: var(--light-grey);
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.work-items {
  margin-top: 80px;
}